<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please search for a restaurant:</p>
    <!--<div class="searchbar">
      <select>
        <option value="Search Type..">Search Type..</option>
        <option value="Name">Name</option>
        <option value="Cuisine">Cuisine</option>
        <option value="Distance">Distance</option>
      </select>
      <input type="text" placeholder="Search..">
    </div>-->
    <form action="/search", method="POST">
      <label for="search_bar">Search for a restaurant: </label>
      <input id="search_bar" type="text" name="restaurant_search">
      <input type="submit" value="Go">
    </form>

  </body>
</html>
