<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Please search for a restaurant:</p>
    <div class="searchbar">
      <select>
        <option value="Search Type..">Search Type..</option>
        <option value="Name">Name</option>
        <option value="Cuisine">Cuisine</option>
        <option value="Distance">Distance</option>
      </select>
      <input type="text" placeholder="Search..">
    </div>

  </body>
</html>
