<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Restaurant 1</p>
    <p>Restaurant 2</p>
    <p>Restaurant 3</p>
    <p>Restaurant 4</p>
  </body>
</html>
